
/* CSS Base gerado automaticamente */
* { box-sizing: border-box; margin: 0; padding: 0; }
.hidden { display: none !important; }

/* --- Estilos da Planilha --- */
body {
    background-color: #121212;
    color: #cccccc;
}
.navbar {
    background-color: #000000;
    border: 1px solid #333;
}
.card {
    background-color: #1e1e1e;
    border: 1px solid #444;
    padding: 15px;
    border-radius: 8px;
}
.card:hover {
    border: 1px solid red;
}
h3 {
    color: #d23030;
}
